.todo-header {
  display: flex;
  justify-content: center;
  color: green;
  font-family: cursive;
  font-size: 30px;
}

.update-todo-header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-h1-generator-button {
  height: 20px;
  border-radius: 2.5px;
  background-color: gold;
}
.todo-container {
  margin-bottom: 40px;
}

.todo-fill-in{
  display: flex;
  justify-content: center;
}

.todo-list {
  border: 1px solid red;
}

.crossed-out {
  text-decoration: line-through;
  text-decoration-color: red;
}

.todo-list li:hover {
  cursor:pointer;
}

.list-container li {
  width: 100%;
  display: flex;
  justify-content: center;
  border: 1px solid black;
}

.change-color {
  background-color: red;
}

.new-button {
  width: 150px;
  height: 115px;
  text-align: center;
  background-color: green;
  color: #fff;
  font-family: sans-serif;
  letter-spacing: 0.5px;
  font-size: 20px;
}

.new-button:hover {
  cursor: pointer;

}

.create-button-div {
  display: flex;
  justify-content: center;
}

.created-buttons {
  display: flex;
  justify-content: center;
  list-style: none;
  width: 100%
}

.added-button {
  margin: 20px;
  height: 80px;
  width: 60px;
  color: #fff;
  background-color: aquamarine;
}

.added-button:hover {
  cursor: pointer;
}

.h1-generator-input {
  margin: 20px;
}
